<template name="footerArea">
    <div id="footerArea" class="fotter">
        <div class="col-xs-12 tele-a">
            <div class="cont-tel">
                <p class="m"><span class="glyphicon glyphicon-phone-alt"></span> (1) 478 1125</p>
                <p class="m"><span class="glyphicon glyphicon-phone-alt"></span>(1)4778174</p>
                <p class="m"><span class="glyphicon glyphicon-phone"></span>310 2176316</p><br>
                <p class="m"><span  class="glyphicon glyphicon-envelope"></span>Comercial@ingenio-publicidad.com</p>
            </div>
        </div>
          <p class="firma">Ingenio Soluciones Publicitarias S.A.S. <br> Derechos reservados 2016 <br>Bogotá-Colombia</p>
    </div>
</template>
