<head>
    <meta charset="UTF-8">
    <title>Ingenio</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='/original/externalPackages/ad-gallery/jquery.ad-gallery.css' rel='stylesheet' type='text/css'>
    <link href='/original/externalPackages/trumbowyg/ui/trumbowyg.min.css' rel='stylesheet' type='text/css'>
    <script src="/original/externalPackages/js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="/original/externalPackages/ad-gallery/jquery.ad-gallery.js"></script>
    <script src="/original/externalPackages/trumbowyg/trumbowyg.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/es.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/plugins/base64/trumbowyg.base64.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/plugins/noembed/trumbowyg.noembed.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/plugins/preformatted/trumbowyg.preformatted.min.js"></script>
    <script src="/original/externalPackages/trumbowyg/plugins/upload/trumbowyg.upload.min.js"></script>
</head>