<template name="headerArea">
    <!-- Define todos los diálogos modales desde el principio para evitar bloqueos -->
    {{> defineWelcomeDialog}} {{> defineUserRegistrationModalDialog}} {{> defineWrongUserAccessModalDialog}} {{> defineUserPasswordResetFeedbackModalDialog}}
    <!-- Fin de la definición de diálogos modales -->
    <div class="container-fluid" id="headerArea">
        <div class="row p ">
          <div class="col-xs-4 col-xs-offset-4 col-sm-3 col-sm-offset-0 col-lg-2 logo">
             <!--............... LOGO-->
             <div class="cont-logo">
                 <a class="inicio" id="headerMenuBarLogoLink" href="/">
                     <img src={{resourceUrl "/images/logo.svg"}} alt="LogoIngenio">
                 </a>
             </div>
          </div>
          <div class="col-xs-12 col-sm-9 col-lg-3 telefonos p">
            <div class="col-xs-12 tele-a ">
                <div class="cont-tel">
                    <p class="m"><span class="glyphicon glyphicon-phone-alt"></span> (1) 478 1125</p>
                    <p class="m"><span  class="glyphicon glyphicon-envelope"></span>Comercial@ingenio-publicidad.com</p>
                    <p class="m"><span class="glyphicon glyphicon-phone-alt"></span>(1)4778174</p>
                    <p class="m"><span class="glyphicon glyphicon-phone"></span>310 2176316 Bogotá-Colombia</p><br>
                </div>
            </div>
          </div>
          <nav class="col-xs-12 col-lg-7">
            <div class="col-xs-12">
              <div class="col-xs-12 menu p">
                <div class="col-xs-4 btn-menu"><a href="/products">PRODUCTOS</a></div>
                <div class="col-xs-4 btn-menu btn-lineas"><a href="/faq">PREGUNTAS FRECUENTES</a></div>
                <div class="col-xs-4 btn-menu"><a href="/contact">CONTÁCTENOS</a></div>
                <div class="col-xs-12 sesion-buscar p">
                    <div class="col-xs-6 sesion "><!-- ............... SESION.. -->
                      {{#if globalIsUserLoggedIn}}
                      <p>Bienvenido(a)<br> {{globalGetCurrentLoggedUsername}}</p>
                      {{#if globalCheckUserRole "SYSTEM_ADMINISTRATOR"}}
                      <a href="/adminPanel">Administrar</a>
                      {{/if}}
                      <a href="#" id="logoutUser">Cerrar sesión</a>
                      {{else}}
                      <a href="#" id="registerNewUser" data-toggle="dropdown">Regístrate</a>
                      {{> loginDropDownMenuItem}} {{/if}}
                    </div>
                    <div class="col-xs-6 buscar">
                      <form action="" class="col-xs-12 p" role="form">
                          <div class="col-xs-12 buscar-campo p">
                              <input class="col-xs-10" type="text" name="searchBarName" id="searchBarName" placeholder="Ingrese el nombre del producto">
                              <button class="col-xs-2  btn-buscar p" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                           </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
          </nav>
                <!-- {{#if globalIsUserLoggedIn}}
                <li>
                    <p>Bienvenido(a)
                        <br> {{globalGetCurrentLoggedUsername}}</p>
                </li>
                {{#if globalCheckUserRole "SYSTEM_ADMINISTRATOR"}}
                <li><a href="/adminPanel">Administrar</a></li>
                {{/if}}
                <li><a href="#" id="logoutUser">Cerrar sesión</a></li>
                {{else}}
                <li>
                    <a href="#" id="registerNewUser" class="dropdown-toggle" data-toggle="dropdown">Regístrate</a>
                </li>
                {{> loginDropDownMenuItem}} {{/if}} -->

        </div>
    </div>
</template>

<!--
Plantilla privada
-->
<template name="loginDropDownMenuItem">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            Ingresar
            <span class="caret"></span>
        </a>
        <ul id="loginPopup" class="dropdown-menu" role="menu">
            <li class="loginPopupItem">
                {{> userLoginBox}}
            </li>
        </ul>
    </li>
</template>
