<template name="headerArea">
    <!-- Define todos los diálogos modales desde el principio para evitar bloqueos -->
    {{> defineWelcomeDialog}} {{> defineUserRegistrationModalDialog}} {{> defineWrongUserAccessModalDialog}} {{> defineUserPasswordResetFeedbackModalDialog}}
    <!-- Fin de la definición de diálogos modales -->
    <div id="headerArea">
        <div id="headerMenuBar" class="container-fluid navbar navbar-fixed-top homeheader">
            <a id="headerMenuBarLogoLink" href="/">
                <img src={{resourceUrl "/images/ingenioHeaderLogo.png"}} alt="LogoIngenio">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/faq">Preguntas Frecuentes</a></li>
                <li><a href="/contact">Contáctenos</a></li>
                {{#if globalIsUserLoggedIn}}
                <li>
                    <p>Bienvenido(a)
                        <br> {{globalGetCurrentLoggedUsername}}</p>
                </li>
                {{#if globalCheckUserRole "SYSTEM_ADMINISTRATOR"}}
                <li><a href="/adminPanel">Administrar</a></li>
                {{/if}}
                <li><a href="#" id="logoutUser">Cerrar sesión</a></li>
                {{else}}
                <li>
                    <a href="#" id="registerNewUser" class="dropdown-toggle" data-toggle="dropdown">Regístrate</a>
                </li>
                {{> loginDropDownMenuItem}} {{/if}}
            </ul>
        </div>
        <div id="searchBar" class="container-fluid">
            <div class="form-group">
                <form action="" class="searhBarForm">
                    <input type="text" class="form-control" name="searchBarName" id="searchBarName" placeholder="Ingrese el nombre del producto">
                    <input type="submit" id="searchBarButton" class="btn btn-primary" value="Buscar">
                </form>
            </div>
        </div>
    </div>
</template>

<!--
Plantilla privada
-->
<template name="loginDropDownMenuItem">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
            Ingresar 
            <span class="caret"></span>
        </a>
        <ul id="loginPopup" class="dropdown-menu" role="menu">
            <li class="loginPopupItem">
                {{> userLoginBox}}
            </li>
        </ul>
    </li>
</template>