<template name="layout">
    {{> headerArea}}
    <div id="centralArea" class="f01 contenedor-main">
        <div id="productCategoryIndexArea" class="cate01">
            {{> productCategoryIndexList}}
        </div>
        <div id="contentArea" class="contenedor" style="min-height:70vh;">
            <!-- yield template is managed by iron route manager.
                From current route, content is selected (check route.js table) -->
            {{> yield}}
            <!-- end of iron router managed yield template -->
        </div>
    </div>
    <br><br>
    {{> footerArea}}
</template>
