<template name="adminPanelLoading">
    Accediendo al sistema de administración ...
</template>
<template name="adminPanel">

    <h1>OPERACIONES ADMINISTRATIVAS</h1> En esta página se encuentran operaciones para el uso de los diferentes roles de usuario que administran el sitio.

    <h2>Operaciones para el usuario administrador de contenido</h2> El usuario "administrador de contenido" es un usuario final, no técnico, que posee acceso a las siguientes operaciones
    desde la interface WEB del sistema:
    <ul>
        <li><a href="/exportDatabaseToExcel">Exportar elementos de la base de datos a Excel</a></li>
        <li>Gestionar categorías y subcategorías de producto</li>
        <li>Actualizar contenido de la base de datos a partir del archivo Excel de productos</li>
        <li><a href="/userEditDelete">Gestionar usuarios</a>: editar y borrar usuarios, y cambiar roles de usuario</li>
        <li><a href="/manageProductCategory">Gestionar categorías y subcategorías de productos</a></li>
        <li><a href="/manageProduct">Gestionar productos</a></li>
        <li><a href="/manageSupplier">Gestionar proveedores</a></li>
        <li><a href="/manageProductEquivalence">Manejar Equivalencia de Productos</a></li>
    </ul>

    <h2>Operaciones para el usuario desarrollador</h2> Un "desarrollador" es un usuario que además de las operaciones de administración requiere ver elementos necesarios para
    el mantenimiento, desarrollo y pruebas del sistema. El desarrollador tiene acceso a las siguientes operaciones:
    <ul>
        <li><a href="/languageCreate">Crear lenguajes</a></li>
        <li><a href="/languageEditDelete">Modificar y borrar lenguajes</a></li>
        <li><a href="/userRoleCreate">Crear roles de usuario</a></li>
        <li><a href="/userRoleEditDelete">Editar y eliminar roles de usuario</a></li>
        <li>Esquema de ejemplos básicos tipo "hola mundo" por tecnología</li>
    </ul>

    <h2>Operaciones para el administrador de bases de datos</h2> Un "administrador de bases de datos" (DBA / Database Administrator) es un tipo particular de desarrollador que mantiene
    la integridad de la base de datos. Acá encontrará operaciones que revisan la integridad de la información en la base
    de datos:
    <ul>
        <li><a href="importMarpicoProducts">Importar productos del proveedor MarPico al sistema Ingenio</a></li>
    </ul>

    <h2>Operaciones para el administrador del sistema (operador)</h2> El "operador" del sistema es el encargado de mantener en línea el sitio, y para él se tienen las siguientes herramientas:
    <ul>
        <li>Realización de copias de seguridad (backups) del sistema</li>
        <li>Clonación de copias espejo locales</li>
        <li>Actualización de la distribución del software en modo producción</li>
    </ul>

    <h2>Operaciones para el administrador de diseño gráfico</h2> El "administrador de diseño gráfico" del sistema es el encargado de mantener las selecciones globales de diseño gráfico:
    <ul>
        <li>Matenimiento de temas de apariencia visual</li>
        <li>Actualización de la distribución del software en modo producción</li>
    </ul>

</template>