<template name="createProduct">
    <h3>Categorías a las que pertenece el producto (al menos una):</h3>
    <div class="row">
        {{#each categoryList}}
        <div class="col-md-2 col-xs-6">
            <input type="checkbox" name="categories" value="{{this._id}}">{{this.nameSpa}}
        </div>
        {{/each}}
    </div>
    <h3>Galería de Imágenes del producto:</h3>
    <button class="btn btn-success add-image">Añadir Imagen</button>
    <button class="btn btn-danger remove-image">Borrar última Imagen</button>
    <div class="file-selectors">
        <input type="file" class="form-control hidden product-image" id="productImage1" name="productImage1">
        <input type="file" class="form-control hidden product-image" id="productImage2" name="productImage2">
        <input type="file" class="form-control hidden product-image" id="productImage3" name="productImage3">
        <input type="file" class="form-control hidden product-image" id="productImage4" name="productImage4">
        <input type="file" class="form-control hidden product-image" id="productImage5" name="productImage5">
        <input type="file" class="form-control hidden product-image" id="productImage6" name="productImage6">
    </div>
    <br>
    <div class="row" id="image-gallery">
        {{#each getCurrentGalleryList}}
        <div class="col-lg-4 col-md-3 col-xs-6">
            <img id="image{{@index}}" data-index="{{@index}}" src="{{readURL this @index}}" class="img-responsive" alt="Imagen" style="border: 1px gray solid;">
        </div>
        {{/each}}
    </div>
    <h3>Proveedor del producto:</h3>
    <select name="productSupplier" id="productSupplier" class="form-control">
        <option value="">Seleccione un Proveedor</option>
        {{#each supplierList}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <h3>Información del producto:</h3> {{#autoForm resetOnSuccess="true" id="insertProduct" type="insert" collection="product"}} {{> afQuickField name='nameSpa'}}
    {{> afQuickField name='descriptionSpa' rows=5}} {{> afQuickField name='price'}} {{> afQuickField name='supplierReference'}}
    {{> afQuickField name='internalIngenioReference'}} {{> afQuickField name='friendlyUrl'}}
    <button type="submit" class="btn btn-success">Crear Producto</button>
    {{/autoForm}}
</template>

<template name="createProductLoading">
    Cargando el editor...
</template>