<template name="createProduct">
    <h3>Categorías a las que pertenece el producto (al menos una):</h3>
    <div class="row">
        {{#each categoryList}}
        <div class="col-md-2 col-xs-6">
            <input type="checkbox" name="categories" value="{{this._id}}">{{this.nameSpa}}
        </div>
        {{/each}}
    </div>
    <h3>Galería de Imágenes del producto:</h3>
    <input type="file" class="form-control" id="productImages" name="productImages" multiple>
    <h3>Proveedor del producto:</h3>
    <select name="productSupplier" id="productSupplier" class="form-control">
        <option value="">Seleccione un Proveedor</option>
        {{#each supplierList}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <h3>Información del producto:</h3> {{#autoForm resetOnSuccess="true" id="insertProduct" type="insert" collection="product"}} {{> afQuickField name='nameSpa'}}
    {{> afQuickField name='descriptionSpa' rows=5}} {{> afQuickField name='price'}} {{> afQuickField name='supplierReference'}}
    {{> afQuickField name='internalIngenioReference'}}
    <button type="submit" class="btn btn-success">Crear Producto</button>
    {{/autoForm}}
</template>

<template name="createProductLoading">
    Cargando el editor...
</template>