<template name="manageProductCategoryLoading">
    Cargando editor...
</template>

<template name="manageProductCategory">
    <h1>Editor de categorías y subcategorías</h1>

    <p>
        Categorías de productos actuales:
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre de la categoría</th>
                <th>Categoría / Subcategoría de</th>
                <th>URL amigable</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {{#each dbProductCategory}}
            <tr>
                <td>
                    <form class="categoryNameForm">
                        <input type="text" class="editCategoryName form-control" value={{nameSpa}} style="width: 100%;">
                    </form>
                </td>
                <td>
                    <form class="categoryType">
                        {{> categorySelectionChange}}
                    </form>
                </td>
                <td>
                    <form class="">
                        <input type="text" class="editFriendlyUrl form-control" value={{friendlyUrl}} style="width: 100%;">
                    </form>
                </td>
                <td style="text-align:center;">
                    {{#quickRemoveButton collection="product" _id=_id class="btn btn-danger"}}Eliminar{{/quickRemoveButton}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    O puedes crear una nueva categoria:
    <br>
    <a href="/manageProductCategory/create" class="btn btn-success">Agregar Categoría</a>
</template>

<template name="categorySelectionChange">
    {{#if isRootOrNull}} La categoría raíz no se puede recategorizar. {{else}}
    <select name="categoryChange" class="parentCategories form-control" style="width: 100%;">
        <option value={{_id}}>[CATEGORÍA]</option>
        {{#each globalDbProductCategories}} {{#if notItself ./_id ../_id}} {{#if containerIsParent . ..}}
        <option value={{this._id}}{{../_id}} selected>Subcategoría [{{this.nameSpa}}]</option>
        {{else}}
        <option value={{this._id}}{{../_id}}>Subcategoría [{{this.nameSpa}}]</option>
        {{/if}} {{/if}} {{/each}}
    </select>
    {{/if}}
</template>

<template name="categorySelectionCreate">
    <select name="parentCategories" id="parentCategories" class="form-control">
        <option value="">[CATEGORÍA]</option>
        {{#each globalDbProductCategories}}
        <option value={{this._id}}{{../_id}}>Subcategoría [{{this.nameSpa}}]</option>
        {{/each}}
    </select>
</template>