<!--
Plantilla privada
-->
<template name="manageProductLoading">
    Cargando productos de la base de datos...
</template>

<!--
Plantilla pública
-->
<template name="manageProduct">
    <h3>Lista de Productos:</h3>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Referencia interna</th>
                <th>Referencia externa</th>
                <th>Precio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each dbProduct}}
            <tr>
                <td>
                    {{nameSpa}}
                </td>
                <td>
                    {{{descriptionSpa}}}
                </td>
                <td>
                    {{internalIngenioReference}}
                </td>
                <td>
                    {{supplierReference}}
                </td>
                <td>
                    {{price}}
                </td>
                <td>
                    {{#quickRemoveButton collection="product" _id=_id class="btn btn-danger" beforeRemove=onBeforeDelete}}Eliminar{{/quickRemoveButton}}
                    <a href="/manageProduct/update/{{_id}}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- ====================================================================== -->
    <p>
        O puedes crear un nuevo producto:
        <br>
        <a href="/manageProduct/create" class="btn btn-success">Agregar Producto</a>
    </p>
</template>