<template name="manageSupplier">
    <h3>Lista de Proveedores</h3>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número de Contacto</th>
                <th>Dirección Física</th>
                <th>Correo Electrónico</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each getList}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.contactNumber}}}</td>
                <td>{{this.physicalAddress}}</td>
                <td>{{this.email}}</td>
                <td>
                    {{#quickRemoveButton collection="supplier" _id=this._id class="btn btn-danger"}}Eliminar{{/quickRemoveButton}}
                    <a href="/manageSupplier/update/{{this._id}}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    O agregue un proveedor
    <br>
    <a href="/manageSupplier/create" class="btn btn-success">Registrar Proveedor</a>
</template>

<template name="manageSupplierLoading">
    Cargando editor...
</template>