<template name="operatorAdminPanelLoading">
    Cargando panel...
</template>

<template name="operatorAdminPanel">
    <h1>PANEL DE ADMINISTRACIÓN PARA EL OPERADOR DEL SISTEMA</h1>

    <p>
    El "operador del sistema" es el rol de usuario encargado de mantener el sistema funcionando
    y en línea. Tiene acceso a las operaciones de actualización de la distribución (<i>release</i>)
    del software, su publicación, las operaciones de realización y restauración de copias de
    seguridad (<i>backup</i>).
    </p>

    Cambio de estilos visuales / temas:
    <button id="one">Estructura básica del HTML sin diseño</button>
    <button id="two">Boceto inicial de Manuel Lemes diciembre 20 2015</button>
</template>
