<!-- 
Plantilla privada.
-->
<template name="editUser">
    <tr>
        <td>
            &nbsp; {{i}} &nbsp;
        </td>        
        <td>
            {{_id}}
        </td>
        <td>
            {{formatDate}}
        </td>
        <td>
            <form name="" class="userNameEditForm">
                <input 
                type="text" 
                name="userName"
                value="{{profile.name}}"
                id="{{_id}}"
                />
            </form>
        </td>
        <td>
            {{#if profile.email}}
                {{profile.email}}
            {{else}}
                {{#if services.facebook.email}}
                    {{services.facebook.email}} (facebook)
                {{else}}
                CORREO DESCONOCIDO!
                {{/if}}
            {{/if}}
        </td>
        <td>
            <form name="" class="passwordEditForm">
                <input 
                type="password" 
                name="password"
                value=""
                id="{{_id}}"
                />
            </form>
        </td>
        <td>
            <div style="font-size: 75%;margin:0px;border:0px;">
                <form id={{_id}}>
                    {{#each dbUserRole}}
                        {{> checkboxForUserRole}}
                    {{/each}}
                </form>
            </div>
        </td>
        <td>
            <form class="userDeleteForm" name="userDeleteForm" id ="userDeleteForm">
                <input
                type="submit"
                value="Eliminar usuario" 
                name="deleteUser"
                id="{{_id}}"
                />
            </form>
        </td>
    </tr>
</template>

<!--
Plantilla pública.
-->
<template name="userEditDelete">
    <h1>Consulta de usuarios</h1>

    Actualmente se tienen los siguientes usuarios:
    <table border=2>
        <tr>
            <th>N</th>
            <th>ID</th>
            <th>Instante de creación</th>
            <th>Nombre de usuario</th>
            <th>Correo (no modificable)</th>
            <th>Modificar contraseña</th>
            <th>Roles</th>
            <th>Eliminar</th>
        </tr>
        {{#each dbUsers}}
            {{> editUser}}
        {{/each}}
    </table>

    Notas para el desarrollador: en esta página hay que realizar varias
    mejoras para que estas funcionalidades sean usables:
    <ul>
        <li>Hay que agregar opciones para mostrar el tipo de cuenta (si es
        sólo de correo o si tiene login con facebook), la gestión de fotografías
        (por ejemplo para aplicar censura) y posiblemente otros campos (como
        ir al dashboard de usuario o ver medios de pago).</li>
        <li>Cuando se tengan muchos usuarios, será impráctico mostrar siempre
        la lista completa de usuarios. Será necesario implementar los mecanismos
        de búsqueda y de paginación.</li>
    </ul>
</template>
