<template name="contactLoading">
    Cargando contacto
</template>

<template name="contact">
    <h1>Contacto</h1>
    Ingenio - Soluciones publicitarias
    <ul>
        <li>Teléfono fijo 1: (1)4781125</li>
        <li>Teléfono fijo 2: (1)4778174</li>
        <li>Teléfono celular: 319 3184813</li>
        <li>Correo electrónico: Comercial@ingenio-publicidad.com</li>
        <li>Sitio web 1: <a href="http://www.ingenio-promocionales.com">http://www.ingenio-promocionales.com</a></li>
        <li>Sitio web 2: <a href="http://www.ingenio-publicidad.com">http://www.ingenio-publicidad.com</a></li>
        <li>Dirección física: Carrera 68G #43D-10 SUR Bogotá, Colombia</li>
    </ul>

    Si te quieres comunicar con nosotros puedes llenar el siguiente formulario:
    <form id="contactForm">
        Nombre de la empresa:
        <input type="text" name="" value=""><br>
        Nombre de la persona de contacto:
        <input type="text" name="" value=""><br>
        Teléfono:
        <input type="text" name="" value=""><br>
        Ciudad:
        <input type="text" name="" value=""><br>
        Correo electrónico:
        <input type="email" name="" value=""><br>
        Duda, pregunta, sugerencia o comentario:
        <input type="text" name="" value=""><br>
        <input type="submit" name="" value="Enviar!">
    </form>
</template>
