<template name="productCategoryIndexList">
    <!-- 
    Acá no deberían definirse estilos, pero en el CSS no los toma. Revisar porqué.
    -->
    <ul>
        <li><a href="#">Categoría 1</a></li>
        <li><a href="#">Categoría 2</a></li>
        <li><a href="#">Categoría 3</a></li>
        <li><a href="#">Categoría 4</a></li>
        <li><a href="#">Categoría 5</a></li>
        <li><a href="#">Categoría 6</a></li>
        <li><a href="#">Categoría 7</a></li>
        <li><a href="#">Categoría 8</a></li>
        <li><a href="#">Categoría 9</a></li>
        <li><a href="#">Categoría 10</a></li>
        <li><a href="#">Categoría 11</a></li>
        <li><a href="#">Categoría 12</a></li>
        <li><a href="#">Categoría 13</a></li>
        <li><a href="#">Categoría 14</a></li>
    </ul>
</template>
