<!--
Plantilla pública.

Muestra una matriz de productos para la categoría seleccionada en el parámetro
dado en la ruta raíz.
-->
<template name="showProductListByCategory">
    <div class="row">
        <div class="cont-productos">
            {{#if getProductList}}
                {{#if hasProducts}}
                    {{#with getCategory}}
                        <h1 class="titu-cate">{{this.nameSpa}}</h1>
                    {{/with}}
                    {{#each getProductList}}
                        <div class="producto" style="text-align:center;">
                            <a href="/product/{{u}}">
                                <img
                                    src="http://test.ingenio-promocionales.com/{{this.i}}"
                                    alt={{n}}
                                    class="img-responsive">
                            </a>
                            <br>
                            <a href="/product/{{u}}">{{n}}</a>
                            <br>
                            <b>{{p}}</b>
                        </div>
                    {{/each}}
                {{else}}
                    <h3>
                        No se encontraron productos para mostrar.
                    </h3>
                {{/if}}
            {{else}}
                <h3>Cargando...</h3>
            {{/if}}
        </div>
        <br>

    </div>
</template>
