<template name="showProductLoading">
    Cargando información del producto...
</template>

<template name="showProduct">
    <div class="row" style= "padding-right:15px;">
        <!-- ............. slider ............ -->
        <div class="col-xs-12 col-md-12 col-lg-6">
            <div class="ad-gallery">
                <div class="ad-image-wrapper" style="width:100%;">
                </div>
                <div class="ad-controls">
                </div>
                <div class="ad-nav">
                    <div class="ad-thumbs">
                        <ul class="ad-thumb-list">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Detalles generales del producto -->
        <div class="col-xs-12 col-md-12 col-lg-6 " style="padding-bottom:15px;">
            <div class="col-xs-8">
                <h2>{{getCurrent.nameSpa}}</h2>
                <p>{{{getCurrent.descriptionSpa}}}</p>
                <p>Medidas: {{getCurrent.measures}}</p>
                <p>Área de Impresión: {{getCurrent.printAreaSpa}}</p>
                <p>Empaque: {{getCurrent.packingSpa}}</p>
                <p>Marcado Soportado: {{getCurrent.markingSupportedSpa}}</p>
                <div class="col-xs-8 btn-deseaver p m">
                    <div class="cont-btn01">
                        <div class="icono">
                            <img src={{resourceUrl "/images/question.svg"}} alt="LogoIngenio">
                        </div>
                        <p>Desea ver una muestra en físico</p>
                    </div>
                </div>
            </div>

            <!-- ........... Categorias relacionadas............ -->
            <div class="col-xs-4 m cate-rela p">
                <div class="col-xs-12 cate-rela-titu m ">
                    <h4>Categorias a las que pertenece:</h4>
                </div>
                <table class="table table-hover">
                    <tbody>
                        {{#each getCurrent.categories}}
                        <tr>
                            <td>
                                <a href="../{{friendlyUrl}}">{{nameSpa}}</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- .................... COTIZADOR ....................... -->
            <div class="col-xs-12 col-lg-6 cotizador p">
                    <img class="re01" src="/original/images/resaltador.png" alt="">
                    <img class="re02" src="/original/images/resaltador.png" alt="">

                    <div class="col-xs-12 contenedor-cotizador">
                        <div class="col-xs-8">
                            <h2 class="m azul">Cotizador Automático</h2>
                            <h3 class="m rojo">con la Marca incluida <br><br></h3>
                        </div>
                        <div class="col-xs-4 p m">
                            <div class="cont-btn02">
                                <p class="col-xs-9">Condiciones y <br>Restriciones</p>
                                <div class="icono02"><img src="{{resourceUrl '/images/like.svg'}}" alt=""></div>
                            </div>
                        </div>
                        <div class="col-xs-12"></div>
                        {{#unless isShoppingCartLoading}}
                            {{#if isProductInShoppingCart getCurrent}}
                                Ya usted agregó este producto a su lista de cotización.
                            {{else}}
                                <form class="col-xs-12 p m add-product" role="form">
                                    <input type="hidden" value="{{getCurrent._id}}" name="productId" id="productId">
                                    <input type="hidden" value="{{getCurrent.price}}" name="productPrice" id="productPrice">
                                    <div class="col-xs-4 ol-md-2 p m">
                                        <label for="quantity" class="peque">Cantidad de<br>Artículos</label>
                                        <input class="col-xs-12 m border-azul" type="text" name="quantity" id="quantity" placeholder="Cantidad">
                                    </div>
                                    <div class="col-xs-4 ol-md-2 p m" >
                                        {{#with productVariants getCurrent}}
                                            <label for="variant" class="peque">Variantes <br> del producto</label>
                                            {{#if hasMoreThanOneVariant this}}
                                                <select class="col-xs-12 m" style="padding:15px;" name="variant" id="variant">
                                                    <option value="">Seleccione una:</option>
                                                    {{#each this}}
                                                        {{#if isVariantInShoppingCart this getShoppingCart}}
                                                            <option value="" disabled>{{description}} (En el carrito)</option>
                                                        {{else}}
                                                            <option value="{{code}}">{{description}}</option>
                                                        {{/if}}
                                                    {{/each}}
                                                </select>
                                            {{else}}
                                                {{#with getFirstVariant this}}
                                                    <input class="col-xs-12 m" type="text" value="{{description}}" name="" id="" disabled="disabled">
                                                    <input class="col-xs-12 m" type="hidden" value="{{code}}" name="variant" id="variant" disabled="disabled">
                                                {{/with}}
                                            {{/if}}
                                        {{/with}}
                                    </div>
                                    <div class="col-xs-4 col-md-2 p m">
                                        <label for="price" class="peque">Precio <br> Unitario</label>
                                        <input class="col-xs-12 m " type="text" name="price" id="price" disabled="disabled" value="{{getCurrent.price}}">
                                    </div>
                                    <div class="col-xs-4 col-md-3 p m ">
                                        <label for="price" class="peque">Valor Total <br> Antes del I.V.A.</label>
                                        <input class="col-xs-12 m " type="text" name="price" id="price" disabled="disabled" value="{{getCurrent.price}}">
                                    </div>
                                    <div class="col-xs-4 col-md-3 p  m">
                                    <label for="" class="peque">Agregar a lista de Productos a Cotizar</label>
                                    <input type="submit" class="col-xs-12 agrega m " value="AGREGAR">
                                    </div>
                                </form>
                                <p class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                                Este precio es antes de I.V.A. y esta sujeto a verificación.
                                el cotizador automático aplica Condiciones y restricciones
                                </p>
                            {{/if}}
                        {{else}}
                            Cargando...
                        {{/unless}}
                        <ol class="col-xs-12">
                            <li>
                                Solicite su cotización formal, para que podamos verificar el inventario en el color requerido y el precio.
                            </li>
                            <li>
                                Cuando requiera una marcación mayor a dos tintas escríbenos un correo y por favor envía el logo que necesites que se coloque
                                en el producto, para que de esta manera se realice la cotización.
                            </li>
                            <li>
                                En caso de tener alguna duda comuníquese con su asesora, en caso de que seas cliente nuevo, llámanos y te asignaremos una
                                asesoria.
                            </li>
                        </ol>

                    </div>

            </div>
        <!--/////////////////////////////////////////////////
        ................. LISTAS ...............
        //////////////////////////////////////////////////-->
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="col-xs-12"><h3>PRODUCTOS EN INVENTARIO</h3></div>
        <div class="col-xs-12 titus">
            <div class="col-xs-8">
                <p class="m">Código / Color</p>
            </div><div class="col-xs-4">
                <p class="m">Cantidad</p>
            </div>
        </div>
        {{#each productVariants getCurrent}}
            <div class="col-xs-8" style="padding:5px;">
                <p class="m">{{code}} / {{description}}</p>
            </div><div class="col-xs-4" style="padding:5px;">
                <p class="m">{{quantity}}</p>
            </div>
        {{/each}}
      </div>
      <div class="col-xs-12 col-md-8">
        <!-- {{#if isLoggedIn}} -->
        <div class="col-xs-12 cabeza"><h3>LISTA DE PRODUCTOS A COTIZAR</h3></div>
        <div class="col-xs-12 titu">
            <div class="cont-item-lista f01">
                <div class="col-xs-1 text-center p  "><p>Item</p></div>
                <div class="col-xs-3 text-center p   "><p>Nombre</p></div>
                <div class="col-xs-2 text-center p  "><p>Cant.</p></div>
                <div class="col-xs-2 text-center p  "><p>Precio unid.</p></div>
                <div class="col-xs-2 text-center p  ">Valor total antes de iva</div>
                <div class="col-xs-2 text-center p  "></div>
            </div>
        </div>
        {{#unless isLoading getShoppingCart}}
            {{#if isShoppingCartEmpty getShoppingCart}}
                <div class="col-xs-12"><h3>No hay ningún producto para cotizar</h3></div>
            {{else}}
                {{#each getShoppingCart}}
                    <div class="row">
                        <div class="col-xs-1 text-center"><p>{{productId.supplierReference}}</p></div>
                        <div class="col-xs-3 text-center "><p>{{productId.nameSpa}} ({{variant.description}})</p></div>
                        <div class="col-xs-2 text-center"><p><input
                                    type="text"
                                    class="cart-amount form-control"
                                    data-id="{{_id}}"
                                    value="{{quantity}}"></p></div>
                        <div class="col-xs-2 text-center"><p>{{productId.price}}</p></div>
                        <div class="col-xs-2 text-center">{{getSubtotal productId.price quantity}}</div>
                        <div class="col-xs-2 text-center">{{#quickRemoveButton collection="product2user" _id=_id onSuccess=onShoppingCartItemSuccess class="btn btn-danger"}}Eliminar{{/quickRemoveButton}}</div>
                    </div>
                {{/each}}
            {{/if}}
        {{else}}
            <div class="col-xs-12"><h3>Cargando...</h3></div>
        {{/unless}}

        {{#unless isShoppingCartEmpty getShoppingCart}}
            <div class="col-xs-12 final-coti p">
                <p class="col-xs-8 text-right">
                    Ya no voy a agregar más productos y requiero que me envien la cotización.</p>
            <div class="col-xs-4 btn03 p">
                <button id="generar-solicitud" class="col-xs-12 agrega">Generar Solicitud de Cotización</button>
            </div>
            </div>
        {{/unless}}
      </div>
    </div>
</template>
