<!-- 
Plantilla pública.

Muestra una matriz de productos para la categoría seleccionada en el parámetro
dado en la ruta raíz.
-->
<template name="showProductListByCategory">
    <div class="row">
        {{#if hasProducts}}
            {{#each getProductList}}
                <div class="col-md-2 col-xs-6" style="text-align:center;">
                    <a href={{u}}>
                        <img
                            src={{this.i}}
                            alt={{n}}
                            class="img-responsive">
                    </a>
                    <br>
                    <a href={{u}}>{{n}}</a>
                    <br>
                    <b>{{p}}</b>
                </div>
            {{/each}}
        {{else}}
            <h3>
                No se encontraron productos para mostrar en la categoría con URL 
                <b>{{getCurrentCategoryFriendlyUrl}}</b>.
            </h3>
        {{/if}}
    </div>
</template>
