/**
Estilo por defecto y básico para observar la estructura del contenido
en HTML sin diseño.
*/

h1 {
	color: #ff0000 !important;
}

#headerBar {
	color: #ffffff;
	background-color: #000000;
}

#headerBar img {
	vertical-align: top;
}

#searchBar {
	margin: 84px 0px 0px 0px;	/* top right bottom left, top es el alto de la imagen de logo */
	padding: 0px 0px 0px 0px;	/* top right bottom left */
	background-color: #808080;
}

#footerArea {
	color: #ffffff;
	background-color: #000000;
	text-align: center;
}

#productCategoryIndexArea ul {
	margin: 0px 0px 0px 0px;  /* top right bottom left */
	padding: 1px 0px 1px 0px; /* top right bottom left */
	background-color:#404040;
}
