/**
Estilo de prueba inicial basado en el boceto de Manuel Lemes de diciembre 20 de 2015
enviado en formato PDF.

Referencias:
[.wW3SC2015a] www.w3schools.com/css/css_navbar.asp
*/

/*==========================================================================*/

/**
Se utiliza la etiqueta !important para redefinir los valores de Bootstrap
*/
*{
	border: 0;
	margin: 0;
	padding: 0;
}
body,html{
	height: 100%;
	font-family: 'Montserrat', sans-serif!important;
}
h1,p{
	font-family: 'Monserrat',sans-serif;
	font-weight: 400;
}
h1{
	font-weight: 700;
}
.m{
	margin: 0;
	margin-top: 0!important;
	margin-bottom: 0!important;
}
.p{
	padding-right: 0px!important;
  padding-left: 0px!important;
}
body,html {
	line-height: 1.42857143; /* Igual que en Bootstrap */
	z-index: 1;
	height: 100
}
.inicio{
	width: 100%;
	display: block;
	height:auto;
}
.inicio img{
	width: 100%;
	height: auto;
}
.btn-menu{
	text-align: center;
	background-color:#00aeef;
	color: white;
	transition: all 500ms cubic-bezier(0.030, 0.450, 0.070, 0.955);
}
.btn-menu:hover{
	background-color: white;
}
.btn-menu a{
	display: block;
	padding:10px 0;
	text-align: center;
	font-size: 1em;
	color: white;
	text-decoration:none;
}
.btn-menu a:hover{
text-decoration: none;
}
.btn-lineas{
	border:1px solid white;
	border-top: none;
	border bottom: none;
}
.tele-a p{
	font-weight:bold;
	font-size: 1.1em;
}
span{
	color:#00aeef;
	margin:0 10x;
	padding: 10px;
}
.sesion-buscar{
	padding: 10px;
}
.sesion{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	font-weight: bold;
	color:#00aeef;
	list-style: none;
	text-decoration: none;
	font-size: 1.2em;
}
.sesion a{
	margin: 10px;
		color:#00aeef;
}
.buscar-campo{
}
.btn-buscar{
	background-color: #00aeef;
	color white;
	height: 40px;
}
.btn-buscar span{
	color: white;
}
.buscar input{
height: 40px;
margin: 0;
border: 1px solid #00aeef;
padding-left: 10px;
}
/*=========================================
................... Categorias ..........
==========================================*/
.con-cate{
	list-style: none;
}
.categoria{
	padding: 10px 0;
	border-bottom: 1px solid white;
	text-align: left;
}
.cate{
	color: white!important;
	text-align: left!important;
	transform-origin: 0 50%;
	transform:scale(1);
	padding: 10px;
	background-color: #00aeef;
	list-style: none;
	border-bottom: 1px solid white;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: all 500ms cubic-bezier(0.030, 0.705, 0.150, 0.995);
}
.cate a{
	color: white;
	text-decoration: none;
}
.cate:hover a{
	text-decoration: none;
}

.cate01{
	position: relative;
	z-index: 100;
}
.cat02{
	background-color: white;
	position: relative;
	z-index:100;
	height: 0;
	width: 0
	left:100%;
	padding: 0;
	list-style: none;
}
.sub-cat{
	list-style: none;
	position: absolute;
	right: 100%;
	background-color: #00aeef;
	z-index: 1;
	top: 0;
	padding: 15px;
	border-left: 2px solid white;
	opacity: 0;
	transition: all 1000ms cubic-bezier(0.605, 0.380, 0.000, 1.005);
}

.cate:hover{
	transform: scale(1.3);
	background-color: white;
	color: #00aeef;
	z-index: 10;
	width: 80%;
}
.cate:hover .alexis{
	color: #00aeef;
}
.cont-sub-cat{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 1px solid green;
}
.cate ul{
	height: 0;
	opacity: 0;
	position: absolute;
	top:0;
	left: -100%;
	visibility: hidden;
	padding: 15px;
	list-style: none;
	margin: 0;
	transition: all 1000ms cubic-bezier(0.605, 0.380, 0.000, 1.005);
}
.cate:hover ul{
	height: auto;
	opacity: 1;
	visibility:visible;
	left: 100%;
	background-color: #00aeef;

}
.cate:hover .sub-cat{
	right: -100%;
	opacity: 1
}
.link-a{
	color:white;
}
.cate-rela{
	background-color: rgb(238,236,236);
}
.cate-rela-titu{
	background-color: rgb(207,208,207);
}
.agrega{
	color: white!important;
	padding: 15px 0;
	background-color: #00aeef;
}
input[type="text"]{
	padding: 15px;
	border:1px solid #bdbdbd;
}
.cotizador{
	padding-top: 15px;
}
.peque{
	color: #999;
	font-size: .9em;
}
.rojo{
	color:red;
}
.azul{
	color:#00AEEF;
}
.res{
	border: 1px solid #00aeef;
	font-weight: bold;
	color: #00aeef;
}
.res p{
	font-weight: bold!important;
	padding: 8px;
}
/*=========================================
................... Categorias ..........
==========================================*/

/*=========================================
................... footer ..........
==========================================*/
.firma {
	font-weight: bold;
	font-size: 1.2em;
}
/*=========================================
................... footer ..........
==========================================*/


#centralArea {
	position: relative; /* Relativo a su hermano previo: #searchBar */
	margin: 0px 0px 0px 0px;	/* top right bottom left */
	padding: 0px 0px 0px 0px;	/* top right bottom left */
	background-color: #ffffff;
}



#headerMenuBar {
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#headerMenuBar img {
	vertical-align: top;
}

/**
étodo dudoso para centrar la lista en el centro
verticalmente respecto a su padre - por revisar position,
top y transform.

Ver [.wW3SC2015a].
*/
#headerMenuBar ul {
    position: none; /* Puede ser relative o none */
    /*
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	float: none;
    */
	/*
	top: 50%;
	transform: translateY(40%);
	*/
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li {
	height: 84px; /* Alto de la imagen de logo */
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0px 2px 0px 2px;
	border: 1px solid #00aeef;
	/*
	vertical-align: middle;
	float: left;
	*/
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li:last-child {
	border-right: none;
	border: 1px solid #00aeef;
	float: right;
    background-color: #00aeef;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar a {
	display: inline;
	float: left;
	color: #000000;
	font-size: 150%;
	padding: 30px 3px 30px 3px;
    margin: 1px 1px 1px 1px;
}

#headerMenuBar p {
	display: inline;
	float: left;
	color: #000000;
	font-size: 150%;
	padding: 15px 3px 15px 3px;
    margin: 1px 1px 1px 1px;
}

/**
Esta es una excepción a la regla "#headerMenuBar a"
*/
a#headerMenuBarLogoLink {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li:last-child a {
	color: #ffffff;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar a:hover {
    background-color: #0000ff;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar .active {
    background-color: #ff00ff;
}

/*==========================================================================*/

#loginPopup {
	padding: 0px 0px 0px 0px;
}

/*
This class uses !important attributes to override headerbar menu
button configurations.
*/
.loginPopupItem {
    width: 350px !important;
    height: 200px !important;
    padding: 0px 15px 0px 15px !important;
    margin: 0px 0px 0px 0px !important;
    border: 0px solid #ff0000 !important;
    background-color: #ffffff !important;
}

/*==========================================================================*/

/**
*/
#footerArea {
	color:#00aeef;
}

/*==========================================================================*/
.ro{
	border: 1px solid red;
}

/**
Ver [.wW3SC2015a]
*/
#productCategoryIndexArea a {
	font-size: 120%;

	/* Por probar */
	/*
	display: inline;
	*/
}

/*==========================================================================*/

.userEditRoleForm {
	font-size: 75%;
	margin: 0px 0px 0px 0px;
	border: 0px;
}

.userEditRoleCheckbox {
    margin: 0px 0px 0px 0px !important;
    border: 0px !important;
}

/*==========================================================================*/
