/**
Estilo de prueba inicial basado en el boceto de Manuel Lemes de diciembre 20 de 2015
enviado en formato PDF.

Referencias:
[.wW3SC2015a] www.w3schools.com/css/css_navbar.asp
*/

/*==========================================================================*/

h1 {
	color: #ff0000;
}

body {
	line-height: 1.42857143; /* Igual que en Bootstrap */
	z-index: 1;
}

/*==========================================================================*/

#searchBar {
	margin: 84px 0px 0px 0px;	/* top right bottom left, top es el alto de la imagen de logo */
	padding: 0px 0px 0px 0px;	/* top right bottom left */
	background-color: #00aeef;
}

#searchBarButton {
	float:right;
}

#centralArea {
	position: relative; /* Relativo a su hermano previo: #searchBar */
	margin: 0px 0px 0px 0px;	/* top right bottom left */
	padding: 0px 0px 0px 0px;	/* top right bottom left */
	background-color: #ffffff;
}

/*==========================================================================*/

#headerMenuBar {
	color: #ffffff;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#headerMenuBar img {
	vertical-align: top;
}

/**
étodo dudoso para centrar la lista en el centro
verticalmente respecto a su padre - por revisar position,
top y transform. 

Ver [.wW3SC2015a].
*/
#headerMenuBar ul {
    position: none; /* Puede ser relative o none */
    /*
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	float: none;
    */
	/*
	top: 50%;
	transform: translateY(40%);
	*/
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li {
	height: 84px; /* Alto de la imagen de logo */
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0px 2px 0px 2px;	
	border: 1px solid #00aeef;
	/*
	vertical-align: middle;
	float: left;
	*/
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li:last-child {
	border-right: none;
	border: 1px solid #00aeef;
	float: right;
    background-color: #00aeef;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar a {
	display: inline;
	float: left;
	color: #000000;
	font-size: 150%;
	padding: 30px 3px 30px 3px;
    margin: 1px 1px 1px 1px;
}

#headerMenuBar p {
	display: inline;
	float: left;
	color: #000000;
	font-size: 150%;
	padding: 15px 3px 15px 3px;
    margin: 1px 1px 1px 1px;
}

/**
Esta es una excepción a la regla "#headerMenuBar a"
*/
a#headerMenuBarLogoLink {
	margin: 0px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li:last-child a {
	color: #ffffff;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar a:hover {
    background-color: #0000ff;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar .active {
    background-color: #ff00ff;
}

/*==========================================================================*/

#loginPopup {
	padding: 0px 0px 0px 0px;
}

/*
This class uses !important attributes to override headerbar menu
button configurations.
*/
.loginPopupItem {
    height: 200px !important;
    width: 200px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    border: 0px solid #ff0000 !important;
    background-color: #ffffff !important;
}

/*==========================================================================*/

/**
*/
#footerArea {
	color: #ffffff;
	background-color: #00aeef;
	text-align: center;
}

/*==========================================================================*/

#productCategoryIndexArea {
	margin: 0px 0px 0px 0px;  /* top right bottom left */
	padding: 0px 0px 0px 0px; /* top right bottom left */
}

/**
Ver [.wW3SC2015a].
*/
#productCategoryIndexArea ul {
	margin: 0px 0px 0px 0px;  /* top right bottom left */
	padding: 1px 0px 1px 0px; /* top right bottom left */
	background-color:#ff0000;

	/** Pendientes por probar */
	/*
	display: block;
	list-style-type: none;
	float: none;
	overflow: hidden;
	position: absolute;
	*/
}

/**
Ver [.wW3SC2015a]
*/
#productCategoryIndexArea li {
    background-color: #00aeef;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 5px 10px 5px 10px;	/* top right bottom left */
	margin: 1px 1px 1px 1px;	/* top right bottom left */

    /* Por probar */
    /*
    float: none;
	vertical-align: middle;
    display: block;
	text-decoration: none;
    */
}

/**
Ver [.wW3SC2015a]
*/
#productCategoryIndexArea a {
	color: #ffffff;
	font-size: 120%;

	/* Por probar */
	/*
	display: inline;
	*/
}

/*==========================================================================*/

.userEditRoleForm {
	font-size: 75%;
	margin: 0px 0px 0px 0px;
	border: 0px;
}

.userEditRoleCheckbox {
    margin: 0px 0px 0px 0px !important;
    border: 0px !important;
}

/*==========================================================================*/
