/**
Estilo de prueba inicial basado en el boceto de Manuel Lemes de diciembre 20 de 2015
enviado en formato PDF.

Referencias:
[.wW3SC2015a] www.w3schools.com/css/css_navbar.asp
*/

//==========================================================================

h1 {
	color: #000000;
}

body {
	line-height: 1.42857143; /* Igual que en Bootstrap */
	z-index: 1;
}

#searchBar {
	margin-top: 84px; /* Alto de la imagen de logo */
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #00aeef;
}

#centralArea {
	position: relative; /* Relativo a su hermano previo: #searchBar */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #ffffff;
}

//==========================================================================
#headerMenuBar {
	color: #ffffff;
	background-color: #00aeef;
}

#headerMenuBar img {
	vertical-align: top;
}

/**
Contiene un método dudoso para centrar la lista en el centro
verticalmente respecto a su padre - por revisar position,
top y transform. 

Ver [.wW3SC2015a].
*/
#headerMenuBar ul {
    position: none; /* Puede ser relative o none */
    /*
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ffffff;
	float: none;
    */
	/*
	top: 50%;
	transform: translateY(40%);
	*/
}

/*
No toma esta clase. De momento se define el estilo en headerArea.html
*/
/*
.loginPopupItem {
    
}
*/

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li {
	height: 84px; /* Alto de la imagen de logo */
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0px 0px 0px 0px;	
	border: 1px solid #00aeef;
	/*
	vertical-align: middle;
	float: left;
	*/
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li:last-child {
	border-right: none;
	border: 1px solid #00aeef;
	float: right;
    background-color: #00aeef;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar a {
	display: inline;
	float: left;
	color: #000000;
	font-size: 150%;
	margin: 15px 0px 15px 0px;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar li:last-child a {
	color: #ffffff;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar a:hover {
    background-color: #0000ff;
}

/**
Ver [.wW3SC2015a]
*/
#headerMenuBar .active {
    background-color: #ff00ff;
}

//==========================================================================

#productCategoryIndexArea {
	/* No está tomando estos atributos - por revisar */
	/* De momento se controla en el atributo style en layout.html */
    /*
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;	
	*/
}

/**
Ver [.wW3SC2015a].
*/
#productCategoryIndexArea ul {
	/* No está tomando estos atributos - por revisar */
	/* De momento se controla en el atributo style en productCategoryIndexList.html */
	/*
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	*/
	/** Pendientes por probar */
	/*
	display: block;
	list-style-type: none;
	float: none;
	overflow: hidden;
	position: absolute;
	*/
}

/**
Ver [.wW3SC2015a]
*/
#productCategoryIndexArea li {
    background-color: #00aeef;
	border: 1px solid #ffffff;
	text-align: center;
	padding: 5px 10px 5px 10px;	/* top right bottom left */
	margin: 1px 1px 1px 1px;	/* top right bottom left */

    /* Por probar */
    /*
    float: none;
	vertical-align: middle;
    display: block;
	text-decoration: none;
    */
}

/**
Ver [.wW3SC2015a]
*/
#productCategoryIndexArea a {
	color: #ffffff;
	font-size: 120%;

	/* Por probar */
	/*
	display: inline;
	*/
}

//==========================================================================

/**
Por alguna razón inexplicable esto no lo está tomando en este estilo,
pero si funciona en one.css.
*/
#footer {
	color: #ffffff;
	background-color: #00aeef;
	text-align: center;
}

//==========================================================================
/*
.dashbox {
    padding-left: 15px;
    padding-right: 15px;
    width: 350px;
}

li.dropdown.open a.dropdown-toggle {
  background: transparent !important;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight:300;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
    font-size: 16px;
}
*/

/**
Copiado sin entender, buscando hacer que el menú dropdown de la headerMenuBar
se hiciera visible - sin éxito. Por revisar.
*/
/*
.dropdown-menu {
    display: none; /* A veces se cambia en el estilo ".open > .dropdown-menu" */
/*
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    position: absolute !important;
    top: 100%;
    left: 0px !important;
    z-index: 1000 !important;

    float: left;
    min-width: 200px;
    height: 200px !important;
    padding: 5px 0 !important;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #233855 !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid #ff0000 !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
*/
//==========================================================================
